* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: Inter;
}

.head {
    font-family: Merriweather;
}

.body {
    margin: 50px 140px;
}

section {
    margin: 120px 0;
}

button {
    cursor: pointer;
}

header {
    min-height: 563px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

header>section {
    text-align: center;
    width: 632px;
    color: #fff;
}

header h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.offer >div {
    margin: 45px 0;
}

.offer >h1 {
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #f00;
}

.offer h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #f00;
}

.offer h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.offer-container>.offer-img {
    width: 800px;
}

.party-container {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 563px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.party {
    display: flex;
    justify-content: space-between;
    margin: 0 126px;
}

.party>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.party h2 {
    color: #fff;
    font-size: 64px;
    font-style: normal;
    letter-spacing: 7.04px;
    width: 642px;
}

.party p {
    width: 697px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    margin: 25px 0;
}

.party button {
    width: max-content;
    margin: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
}

.party-container img {
    height: 320px;
}

.time {
    height: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg,
            rgba(255, 0, 0, 0.1) 0%,
            rgba(255, 0, 0, 0) 100%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.time h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.time span {
    color: #f00;
}

.time button {
    padding: 15px 30px;
    margin-top: 45px;
    border-radius: 8px;
    background: #f00;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}

.best-offer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.best-offer-container div {
    width: 33%;
}

.best-offer-container {
    margin: 0 15px;
}


.best-offer h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #f00;
}

.best-offer h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding: 10px 0;
}

.best-offer p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
}


.new-best-offer-middle img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 20px;
    border: #f00 10px solid;
}

.new-best-offer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}

.new-best-offer-right h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #f00;
}

.new-best-offer-right p {
    width: 270px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    padding: 10px 0;
}

.new-best-offer-right img {
    height: 140px;
    width: 140px;
}

.holiday-sale-container {
    overflow: hidden;
}

.holiday-sale-container-top {
    text-align: center;
}

.holiday-sale-container-top h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px;
}

.holiday-sale-container-top h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 10px;
}

.holiday-sale-container-top span {
    color: #f00;
}

.holiday-sale-container-top p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin: 10px;
    color: rgba(7, 2, 17, 0.6);
}

.holiday-sale {
    position: relative;
    display: flex;
    align-items: center;
    float: right;
}

.holiday-sale-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-middle {
    position: absolute;

    left: -150px;
}

.rectangle-bottom {
    position: relative;
}

.rectangle-two {
    width: 100%;
}

.rectangle-bottom>.group {
    position: absolute;
    top: -250px;
    left: 100px;
    width: 500px;
}

.gift-content h2 {
    color: #f00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gift-content h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.gift-content p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    color: rgba(7, 2, 17, 0.6);
    margin: 20px 0;
}

.gift-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gift-image div {
    display: flex;
    justify-content: space-between;
}

.gift-image img {
    width: 32%;
    margin: 10px 0;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.gift-image img:hover {
    box-shadow: 0 10px 10px gray;
}

.subscribe-section {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-container {
    padding: 80px 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subscribe-container img {
    height: 150px;
    width: 150px;
}

.subscribe-container h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe-container p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    width: 896px;
}

.subscribe-container img,
h1,
p {
    margin: 15px 0;
}

.subscribe {
    display: flex;
    margin: 15px 0;
}

.subscribe input {
    height: 72px;
    width: 438px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 0 30px;
    border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
}

.subscribe button {
    height: 72px;
    width: 210px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    color: #fff;
    background-color: #f00;
    border: none;
    border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -ms-border-radius: 0 50px 50px 0;
    -o-border-radius: 0 50px 50px 0;
    cursor: pointer;
}

footer {
    background-color: #070211;
    height: 609px;
    color: #fff;
}

.footer-section {
    padding: 50px 140px;
}

address {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.address-container {
    display: flex;
    margin: 50px 0;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.address li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.address li img {
    margin-right: 10px;
}

.address li a {
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
}

hr {
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}

.social-link ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.social-link ul img {
    height: 50px;
    margin: 0 10px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.copyright button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.copyright small {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}